<html>
<head>
	<meta charset="utf-8">
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 	<script>
 		var Person = function(person){
 			this.instance=person;
 		};

 		Person.prototype.getfname = function(){
 			return this.instance.fname;
 		};

 		Person.prototype.getlname = function(){
 			return this.instance.lname;
 		};

 		angular.module("main", [])
 		.value("person", {
 			fname:"",
 			lname:""
 		})
 		.service("personManager", Person)
 		.controller("controller", function ($scope, person, personManager){
 			person.fname="john";
 			person.lname="doe";
 			$scope.managerInstance=personManager;
 		});
 	</script>
</head>
  
<body ng-app="main">
	<div ng-controller="controller">
		First Name:{{managerInstance.getfname()}}
		<br>Last Name:{{managerInstance.getlname()}}
		<br>Set First Name:<input type="text" ng-model="managerInstance.instance.fname"/>
		<br>Set Last Name:<input type="text" ng-model="managerInstance.instance.lname"/>
	</div>
</body>
</html>